In [1]:
# IMPORTS
import scraper as sc
import analyzer as an

# DEFINITION OF REQUIRED DATA
# stock handle, all caps, without $, currently only one at a time is allowed
stockHandle = "TSLA"
# number of days, all data are loaded from today to - number of specified days
ndays = 4

In [2]:
stock = sc.scrap(stockHandle, ndays)

   _____
  / ___/______________ _____  ___  _____
  \__ \/ ___/ ___/ __ `/ __ \/ _ \/ ___/
 ___/ / /__/ /  / /_/ / /_/ /  __/ /
/____/\___/_/   \__,_/ .___/\___/_/
                    /_/

Version 0.1

Scraping for stock(s): TSLA

Scraping https://finance.yahoo.com/
Status: started
Status: completed
data saved as .data, .info

Scraping completed

In [4]:
stock.data
#an.simp_plot(stock.data, stock.info)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2021-02-19 09:30:00-05:00,792.750000,794.414978,792.750000,794.414978,819474,0,0
2021-02-19 09:31:00-05:00,793.651123,795.000000,792.559998,793.371582,85263,0,0
2021-02-19 09:32:00-05:00,793.289978,796.789917,793.289978,795.440002,152274,0,0
2021-02-19 09:33:00-05:00,795.809998,795.859985,791.719971,792.630127,105995,0,0
2021-02-19 09:34:00-05:00,792.679993,794.539978,791.150024,793.099976,82888,0,0
...,...,...,...,...,...,...,...
2021-02-22 15:55:00-05:00,713.940002,715.489990,713.000000,713.380005,253267,0,0
2021-02-22 15:56:00-05:00,713.690002,714.498413,712.000000,712.530029,227919,0,0
2021-02-22 15:57:00-05:00,712.650024,714.489990,712.390015,713.789978,176854,0,0
2021-02-22 15:58:00-05:00,713.880005,716.380005,713.700012,714.765015,230446,0,0
2021-02-22 15:59:00-05:00,714.960022,716.000000,714.000000,714.030029,289966,0,0