# Tester notebook

This notebook aims to create enviroment to simply test strategies developed in Stocks & Loss system for python

In [61]:
# imports 
from scraper import stock_daily
from analyzer import Analyzer
import numpy as np
from IPython.display import display

## Select stocks

In [62]:
ticker = "XELB"

In [63]:
trades = Analyzer(ticker=ticker, data=stock_daily(ticker, save=False).data)

summary = trades.profit(buyMethodName='Mcstoch_ut1',sellMethodName='Mcstoch',capitalForEachTrade=200,comission=2)

profitByHolding = 100*((trades.data["Close"].iloc[-1]-trades.data["Close"].iloc[0])/trades.data["Close"].iloc[0])

In [64]:
print('Absolute profit last year:                ',np.round(summary["profit[$]"].sum(),2),'$')
print('Relative profit last year:                ',np.round(summary["profit[%]"].sum(),2),'%')
print('Relative profit by holding last year:     ',np.round(profitByHolding,2),'%')

Absolute profit last year:                 -70.19 $
Relative profit last year:                 -35.09 %
Relative profit by holding last year:      152.87 %

In [65]:
display(summary)

,buy_date,buy_price,buy_value,position,sell_date,sell_price,sell_value,comission,good_trade?,profit[%],profit[$]
0,2020-07-21,0.9001,200,222.197535,2020-07-24,0.8600,191.089884,2,0.0,-5.455058,-10.910116
1,2020-08-21,0.9990,200,200.200198,2020-08-26,0.8096,162.082079,2,0.0,-19.958960,-39.917921
2,2020-08-27,0.8212,200,243.546026,2020-08-31,0.8021,195.348268,2,0.0,-3.325866,-6.651732
3,2020-10-15,0.8711,200,229.594763,2020-10-28,0.8900,204.339336,2,1.0,1.169668,2.339336
4,2020-10-30,0.8896,200,224.820149,2020-11-02,0.8376,188.309355,2,0.0,-6.845322,-13.690645
5,2020-11-03,0.8900,200,224.719105,2020-11-04,0.8726,196.089895,2,0.0,-2.955052,-5.910105
6,2020-11-05,0.9499,200,210.548485,2020-11-17,0.9613,202.400262,2,1.0,0.200131,0.400262
7,2020-11-18,1.1700,200,170.940177,2020-12-01,1.0400,177.777778,2,0.0,-12.111111,-24.222222
8,2020-12-04,1.0900,200,183.486233,2020-12-07,1.0400,190.825675,2,0.0,-5.587162,-11.174325
9,2020-12-09,1.0300,200,194.174763,2020-12-10,1.0800,209.708752,2,1.0,3.854376,7.708752
10,2020-12-14,1.1100,200,180.180178,2020-12-21,1.0900,196.396400,2,0.0,-2.801800,-5.603600
11,2020-12-24,1.1400,200,175.438599,2021-01-20,1.3500,236.842112,2,1.0,17.421056,34.842112
12,2021-01-21,1.4000,200,142.857145,2021-02-25,1.9500,278.571440,2,1.0,38.285720,76.571440
13,2021-03-01,1.8400,200,108.695650,2021-03-02,1.7200,186.956521,2,0.0,-7.521739,-15.043479
14,2021-03-03,1.7200,200,116.279068,2021-03-04,1.5700,182.558143,2,0.0,-9.720929,-19.441857
15,2021-03-08,1.5900,200,125.786161,2021-03-29,1.8800,236.477982,2,1.0,17.238991,34.477982
16,2021-03-31,1.9900,200,100.502512,2021-04-14,1.9600,196.984928,2,0.0,-2.507536,-5.015072
17,2021-04-21,1.7700,200,112.994352,2021-04-23,1.5600,176.271182,2,0.0,-12.864409,-25.728818
18,2021-05-24,2.7400,200,72.992700,2021-06-04,2.3900,174.452562,2,0.0,-13.773719,-27.547438
19,2021-06-07,2.4600,200,81.300812,2021-06-08,2.3600,191.869907,2,0.0,-5.065046,-10.130093
20,2021-06-09,2.4700,200,80.971659,2021-06-10,2.4400,197.570853,2,0.0,-2.214574,-4.429147
21,2021-06-16,2.2500,200,88.888889,2021-07-14,2.2600,200.888888,2,1.0,-0.555556,-1.111112
22,2021-07-19,2.0900,200,95.693784,NaT,NaN,NaN,2,0.0,NaN,NaN